.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  height: 100%;
  padding-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.component-sidebar {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 1rem;
}

.component-sidebar:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
  .sidebar-container {
    width: 250px;
  }
}
