.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.component-sidebar {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 1rem;
}

.component-sidebar:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
